In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
df_nopass = pd.read_csv("faults_nopass_names.csv")

df_eddi_cfcss = pd.read_csv("faults_eddi_cfcss_names.csv")
df_eddi_rasm = pd.read_csv("faults_eddi_rasm_names.csv")
df_eddi_rasm_inter = pd.read_csv("faults_eddi_inter-rasm_names.csv")

df_seddi_cfcss = pd.read_csv("faults_seddi_cfcss_names.csv")
df_seddi_rasm = pd.read_csv("faults_seddi_rasm_names.csv")
df_seddi_rasm_inter = pd.read_csv("faults_seddi_inter-rasm_names.csv")

df_fdsc_cfcss = pd.read_csv("faults_fdsc1_cfcss_names.csv")
df_fdsc_rasm = pd.read_csv("faults_fdsc1_rasm_names.csv")
df_fdsc_rasm_inter = pd.read_csv("faults_fdsc_inter-rasm_names.csv")


dataframes = {"nopass": df_nopass,
              "eddi_cfcss": df_eddi_cfcss,
              "eddi_rasm": df_eddi_rasm,
              "eddi_rasm_inter": df_eddi_rasm_inter,
              "fdsc_cfcss": df_fdsc_cfcss,
              "fdsc_rasm": df_fdsc_rasm,
              "fdsc_rasm_inter": df_fdsc_rasm_inter,
              "seddi_cfcss": df_seddi_cfcss,
              "seddi_rasm": df_seddi_rasm,
              "seddi_rasm_inter": df_seddi_rasm_inter
              }

In [3]:
for key in dataframes:
    dataframes[key] = dataframes[key].fillna("<UNDEF>")

In [4]:
df_new = pd.DataFrame()

df_new["nopass"] = pd.Series(data={-3: 0, -2: 0, -1: 0, 0: 0, 1: 0, 2:0})

for key in dataframes:
    df = dataframes[key]
    sz_tot = df.shape[0]
    df_errcodes = df.groupby('code')
    sz_df_errcodes = df_errcodes.size()
    df_new[key] = sz_df_errcodes

df_new

,nopass,eddi_cfcss,eddi_rasm,eddi_rasm_inter,fdsc_cfcss,fdsc_rasm,fdsc_rasm_inter,seddi_cfcss,seddi_rasm,seddi_rasm_inter
-3,555.0,319,277,268,308,299,349,307,301,297
-2,375.0,10,13,9,13,7,1065,14,9,8
-1,790.0,707,739,1078,779,745,1242,817,801,1113
0,58280.0,55359,55335,54704,55719,55642,56142,55755,55569,54940
1,NaN,3272,3422,3704,2861,3086,899,2805,3102,3362
2,NaN,333,214,237,320,221,303,302,218,280

In [5]:
(df_new / df_new.sum() * 100).round(3)

,nopass,eddi_cfcss,eddi_rasm,eddi_rasm_inter,fdsc_cfcss,fdsc_rasm,fdsc_rasm_inter,seddi_cfcss,seddi_rasm,seddi_rasm_inter
-3,0.925,0.532,0.462,0.447,0.513,0.498,0.582,0.512,0.502,0.495
-2,0.625,0.017,0.022,0.015,0.022,0.012,1.775,0.023,0.015,0.013
-1,1.317,1.178,1.232,1.797,1.298,1.242,2.070,1.362,1.335,1.855
0,97.133,92.265,92.225,91.173,92.865,92.737,93.570,92.925,92.615,91.567
1,NaN,5.453,5.703,6.173,4.768,5.143,1.498,4.675,5.170,5.603
2,NaN,0.555,0.357,0.395,0.533,0.368,0.505,0.503,0.363,0.467

In [6]:
(df_new.drop(0) / df_new.drop(0).sum() * 100).round(3)

,nopass,eddi_cfcss,eddi_rasm,eddi_rasm_inter,fdsc_cfcss,fdsc_rasm,fdsc_rasm_inter,seddi_cfcss,seddi_rasm,seddi_rasm_inter
-3,32.267,6.874,5.938,5.060,7.195,6.861,9.046,7.232,6.793,5.870
-2,21.802,0.215,0.279,0.170,0.304,0.161,27.605,0.330,0.203,0.158
-1,45.930,15.234,15.841,20.355,18.197,17.095,32.193,19.246,18.077,21.996
1,NaN,70.502,73.355,69.940,66.830,70.812,23.302,66.078,70.007,66.443
2,NaN,7.175,4.587,4.475,7.475,5.071,7.854,7.114,4.920,5.534

# Most vulnerable data structures

In [7]:
df_names = pd.DataFrame()

for key in dataframes:
    df = dataframes[key]
    df_errcodes = df.groupby('struct')
    sz_df_errcodes = df_errcodes.size()
    df = pd.DataFrame()
    df[key] = sz_df_errcodes
    df_names = df_names.join(df, how="outer")

df_names.to_csv("faults_structs.csv")

In [8]:
df_errs = pd.DataFrame()

for key in dataframes:
    df = dataframes[key]
    df = df[df["code"] == -2]
    df_errcodes = df.groupby('struct')
    sz_df_errcodes = df_errcodes.size()
    df = pd.DataFrame()
    df[key] = sz_df_errcodes
    df_errs = df_errs.join(df, how="outer")

df_errs = df_errs.fillna(0)

In [9]:
(df_errs).dropna(how="all").replace(0, "NaN").round(4).to_csv("sdc_structs.csv")

# Link to location

In [10]:
loc_dict = dict()

loc_dict["gkvars"] = ["uxCurrentNumberOfTasks", "xTickCount", "uxTopReadyPriority", "xSchedulerRunning", "uxPendedTicks", "xYieldPending", "xNumOfOverflows", "uxTaskNumber", "xNextTaskUnblockTime", "uxSchedulerSuspended", "uxCurrentNumberOfTasks_dup", "xTickCount_dup", "uxTopReadyPriority_dup", "xSchedulerRunning_dup", "uxPendedTicks_dup",  "xYieldPending_dup", "xNumOfOverflows_dup", "uxTaskNumber_dup", "xNextTaskUnblockTime_dup", "uxSchedulerSuspended_dup"]

loc_dict["tcbvars"] = ["TCB"]

loc_dict["dldlst"] = ["pxDelayedTaskList", "pxDelayedTaskList_dup", "pxOverflowDelayedTaskList", "pxOverflowDelayedTaskList_dup", "xDelayedTaskList1", "xDelayedTaskList1_dup", "xDelayedTaskList2", "xDelayedTaskList2_dup"]

loc_dict["rdylst"] = ["pxReadyTasksLists", "pxReadyTasksLists_dup"]

loc_dict["mtxqvars"] = ["xMessageBuffer", "xMessageBuffer_dup", "globalQueuehandle", "ucStaticTimerQueueStorage", "xQueueRegistry", "xStaticQueue", "xStaticTimerQueue", "xTimerQueue"]

loc_dict["tmrvars"] = ["pxTimerBuffer", "pxTimerBuffer_dup", "pxCurrentTimerList", "pxCurrentTimerList_dup", "pxOverflowTimerList", "pxOverflowTimerList_dup", "xActiveTimerList1", "xActiveTimerList2", "xActiveTimerList1_dup", "xActiveTimerList2_dup"]

loc_dict["zOthers"] = [""]

In [11]:
locations = ["None"] * df_names.shape[0]
i = 0

for row in df_names.index:
    found = False
    for key in loc_dict:
        for elem in loc_dict[key]:
            if elem in row:
                locations[i] = key
                found = True
        if found:
            break
    i = i+1

In [12]:
df_names["location"] = locations

In [13]:
df_names[df_names["location"] != "None"].groupby("location").sum()

,nopass,eddi_cfcss,eddi_rasm,eddi_rasm_inter,fdsc_cfcss,fdsc_rasm,fdsc_rasm_inter,seddi_cfcss,seddi_rasm,seddi_rasm_inter
location,,,,,,,,,,
dldlst,90.0,192,201,178.0,163,186,174,176.0,173.0,191
gkvars,81.0,141,133,138.0,164,124,126,135.0,135.0,132
mtxqvars,833.0,1467,1440,1461.0,1487,1452,1392,1448.0,1468.0,1459
rdylst,2367.0,4152,4214,4266.0,4172,4167,4263,4248.0,4169.0,4098
tcbvars,2113.0,3670,3634,3736.0,3744,3741,3819,3729.0,3748.0,3688
tmrvars,177.0,335,350,314.0,370,351,365,317.0,345.0,361
zOthers,54339.0,50043,50028,49907.0,49900,49979,49861,49947.0,49962.0,50071

In [14]:
locations = ["None"] * df_errs.shape[0]
i = 0

for row in df_errs.index:
    found = False
    for key in loc_dict:
        for elem in loc_dict[key]:
            if elem in row:
                locations[i] = key
                found = True
        if found:
            break
    i = i+1

df_errs["location"] = locations
(df_errs[df_errs["location"] != "None"].groupby("location").sum() / df_names[df_names["location"] != "None"].groupby("location").sum() * 100).to_csv("loop_faults.csv")